body{
    background-color: black;
    margin: 0;
    padding: 0;
   }
  
a{
  text-decoration: none;
  color: #000;
}
.navbar{
  
  background-color: #fff;
  height: 80px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-icon{
  padding-left: 40px;
  height: 100px;

}
.tit{
  text-align: center;
}
.title{
  font-size: 50px;
  font-weight: bold;
  color: #06038D;
  position: relative;
  left:100px;
  padding-bottom: 15px;
  margin-top: 8px;
}
.menu-icon{
  
  border:2px solid black;
  border-radius: 30px;
  background-color: black;
  color:azure;
  padding:9px;
  font-size: 20px;
  text-align: center;
  width:70px;
  height:auto;
  font-weight: bold;
  position: relative;
  top:20px;
  margin:7px;

}
.menu-icon:hover{
  transform: scale(1.2);
  transition: 0.4s;
  color:#000;
  background-color: whitesmoke;
  
  
}
.navbar-menu{
  position: relative;
  top: -5px;
  display: flex;
  flex-direction: row;
  

  
}
   
   .main-heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:whitesmoke;
  
    text-align: center;
   
   }
   .tag-line{
    font-size: 20px;
    font-weight: 120;
   }
   .img-container{
            display: flex;      
               
            align-items: flex-end;
        }
          .baga-beach-img{
          height: 550px;
          width: 770px;
          margin: 10px;
          margin-right: 100px;  
             
          border-radius: 20px;
          border: 2px solid #fff;
          }
          .baga-beach-img:hover{
            transform: scale(1.1);
            transition: 0.4s ease;
            box-shadow: 4px 8px 20px 0px gray ;
          }
          .beach-img{
            height: 260px;
            width: 290px;
            margin-top: 15px ;            
            border:2px solid #fff;     
            border-radius: 8px;  
         margin-left: 20px;
          }
          .beach-img:hover{
            transform: scale(1.1);
    transition: 0.4s ease;
    box-shadow: 4px 8px 20px 0px gray ;
          }
         .img-container{
          display: flex;
          flex-wrap: wrap;
         }
        
          .div{
            display: flex;
            justify-content: space-evenly;
          
            
        }
          .div-1{
            display: flex;    
            flex-wrap: wrap;  
            justify-content: center;   
            margin-top: 5px;
            margin-bottom: 5px;
          
          }
          .div-2{
            display: flex;    
            flex-wrap: wrap;  
            justify-content:center;   
            margin-top: 5px;
            margin-bottom: 5px;
      
          }
          .address{
            color:azure;
            font-weight:30px;
            font-size: 19px;
            position: relative;
            bottom:25px;
         
        margin-left: 600px;
        
           }    
       
   .history-block{
    background-color:#262626;
    border:2px solid white;
    margin:20px 30px;
    padding:20px;
    border-radius: 30px;
   }
   .headings{
    color:azure;
    font-size: 30px;

   }.discription{
    color:azure;
    font-family:sans-serif;
    padding: 20px;
   }
   .points{
    padding:7px;
   }
   .middle-part{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 30px;
    padding:20px;
   }
   .blocks{
    background-color: #262626;
    border: 2px solid white;
    border-radius: 20px;
    padding:20px;
    margin: 10px;
   
   }
   .food{
    display:flex;
   flex-wrap: wrap;
    justify-content:space-evenly;
    height: auto;
   
   }
   .food-cards{
    background-color:#fff;
    border: 2px solid white;
    border-radius: 15px;
    height: auto;
    width:270px;
    padding:2px;
    margin: 2px;
    position: relative;
 
   }
   .food-cards:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s ease;
    box-shadow: 4px 8px 20px 0px gray ;
   
   }
   .food-img{
    height: 250px;
    width:250px;
    margin:5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px 15px 15px 15px;
   }
   .food-name{
    color:#262626;
    font-size: 25px;
    margin-top: 7px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
   }
   .food-discription{
    color:#262626;
    padding:10px;
    margin:8px;
    font-family:initial;
    text-align: center;

   }
   .call-btn{
    border: 2px solid rgb(167, 4, 4);
    border-radius: 20px;
    color: #d70909;
    background-color: azure;
    padding:10px;   
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    font-weight: bold;
    width: 90px;
  text-align: center;
  }
  .call-btn:hover{
    background-color: #d70909;
    color: azure;
    transform: scale(1.1);
    transition: 0.4s ease;
   
    cursor: pointer;
  
  }
  .hotel-add{
    font-size: 15px;
    margin-left: 25px;
    color:rgba(77, 77, 77,0.9)
}
.place-add{
  text-align: center;
  font-size: 15px;
}
.prise{
  color:#d70909;
  font-size: 19px; 
  font-weight: bold;
  margin-left: 25px;
}
   .map{
    align-items: center;
    position: relative;
   
   }

   .footer{
    background: #fff;
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.footer-img{
    height: 250px;
    position: relative;
    bottom: 20px;
    right: 30px;
}
.input{
    border-radius: 15px;
    background-color: #fff;
    color: #000;
}
.kahi{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h2{
  margin-top: -50px;
}
.btn{
  background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.btn:hover{
  background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
  background-position: right center; /* change the direction of the change here */
  color:#000;
  text-decoration: none;
}
.button{
    border-radius: 10px;
   

    
}
@media screen and (min-width:500px) and (max-width:768px){

  .navbar{
      height: 40px;
      display: flex;

  }
  .navbar-icon{
      padding-left: 10px;
      height: 70px;
      position: relative;
      bottom: 10px;

  }

  .title{
      font-size: 20px;
      position: relative;
      left: 1px;
      padding-bottom: 0px;
      margin-top: 2px;
  }
  .menu-icon{
      font-size: 15px;

      margin-left: 5px;
      padding: 3px;
  }

  .navbar-menu{
      position: relative;
      top: -16px;
      right: 15px;
  }
  .baga-beach-img{

    width: 470px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  
  
  }
  .Div{
    align-items: center;
    margin-left: auto;
margin-right: auto;
  }
  .div{
   
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .beach-img{
    height: 200px;
    width: 250px;
    margin-top: 15px ;            
      align-items: center;
  }
  .address{
    font-size: 16px;
    position: relative;
    bottom:25px;
    left:50px;   
    
   }
   .food{
    display:flex;
   flex-wrap: wrap;
    justify-content:space-evenly;
    height: auto;
   
   }
   .food-cards{   
    height: auto;
    width:240px;
  margin-top: 15px;
 
   }
   .food-img{
    height: 200px;
    align-items: center;
    width:220px;
  }
.map{
  margin-left: 40px;
  margin-right: 40px;
}
.footer{
  padding: 30px;
}
.s-column{
  font-size: 13px;
  padding-right: 20px;
  padding-top: 35px;
  padding-left: 20px;
}
.h2{
  font-size: 15px;
}
.footer-img{
  height: 120px;
  position: relative;
  top: 5px;
}

.social-m{
  height: 32px;
}
  }
 
   @media screen and (min-width:768px) and (max-width:1000px){

    .navbar{
        height: 40px;
        display: flex;

    }
    .navbar-icon{
        padding-left: 10px;
        height: 70px;
        position: relative;
        bottom: 10px;

    }

    .title{
        font-size: 30px;
        position: relative;
        left: 1px;
        padding-bottom: 0px;
        margin-top: 2px;
    }
    .menu-icon{
       
        margin-left: 10px;
        margin-top: 11px;
        font-size: 15px;
        padding: 3px 1px;

    }

    .navbar-menu{
        position: relative;
        top: -25px;
        right: 15px;
    }
    .address{
      font-size: 16px;
      position: relative;
      bottom:25px;
      left:50px;   
      
     }
    .baga-beach-img{  
      align-items: center;
      margin-left: auto;
      margin-right: auto;   
    width: 740px;
    }
    .Div{
      align-items: center;
      margin-left: auto;
  margin-right: auto;
    }
    .div{     
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    .beach-img{
      height: 250px;
      width: 290px;
      margin-top: 15px ;            
        align-items: center;
    }
    .food{
      display:flex;
     flex-wrap: wrap;
      justify-content:space-evenly;
      height: auto;
     
     }
     .food-cards{   
      height: auto;
      width:240px;
    margin-top: 15px;
   
     }
     .food-img{
      height: 200px;
      align-items: center;
      width:220px;
    }
    .footer{
      padding: 30px;
  }
  .s-column{
      font-size: 13px;
      padding-right: 20px;
      padding-top: 35px;
      padding-left: 20px;
  }
  .h2{
      font-size: 15px;
  }
  .footer-img{
      height: 150px;
      position: relative;
      top: 5px;
  }

  .social-m{
      height: 25px;
  }
    
  }